@model IEnumerable<MyPcStore.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Add new category</a>
        <span class="ajax-text">
            <img src="~/Content/img/glass-pipe.gif" />
        </span> @*will be used to show loading image and text if needed*@
    </p>
</div>
@*to check if model is empty*@
@if (!Model.Any())
{
    <h1 class="text-center text-danger">There are no categories.</h1>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    @*readonly - to be editable when double clicked*@
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}
@*http: //v3.preloaders.net/en/horizontal*@

@section Scripts {
    @* Drag and drop feature *@
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {

            //+++++++++++++++++++chapter 22++++++++
            /*Add new category*/
            //method called in 
            //ShopController AddNewCategory()


            var newCatA = $("a#newcata");               //anchor with newcat
            var newCatTextInput = $("#newcatname");     //newcatname
            var ajaxText = $("span.ajax-text");         //span.ajax-text
            var table = $("table#pages tbody"); //table id pages       

            newCatTextInput.keyup(function (e) {    //catch enter
                if (e.keyCode == 13) { //13 for enter
                    newCatA.click();
                }
            });

            newCatA.click(function (e) {
                e.preventDefault(); //a

                var catName = newCatTextInput.val();

                if (catName.length < 3) {   //min lenght for category
                    alert("Minimum 3 characters required!");
                    return false;
                }

                ajaxText.show();
                var url = "/admin/shop/AddNewCategory"; //returns string
                                                        //Shop Controller
                $.post(url, { catName: catName }, function (data) { //category with value catName
                    var response = data.trim();                    //d-data 

                    if (response == "titletaken") {                 //a
                        ajaxText.html("<span class='alert alert-danger'>That title already exists!</span>"); 
                        setTimeout(function () {
                            //fade out that message
                            ajaxText.fadeOut("fast", function () {  //callback function
                                ajaxText.html("<img src=/Content/img/glass-pipe.gif />");
                            });         //fadeout speed
                        }, 3000);       //delay
                        return false;
                    } else {        //if its all ok
                        if (!$("table#pages").length) { //if it doesnt exist table with id pages
                            location.reload();
                        } else {                        //display a message

                            ajaxText.html("<span class='alert alert-success'>New Category added!");
                            //fade out that message
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () { //callback function
                                    ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                                });     //fadeout speed
                            }, 3000);   //delay

                            newCatTextInput.val("");    //has to be empty

                            var toAppend = $("table#pages tbody tr:last").clone(); //copy of last tr in table
                            toAppend.attr("id", "id_" + data);  //tr atribute change + append; id is for sottable plugin
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data); //change delete link for newly added tr
                            table.append(toAppend);
                            table.sortable("refresh"); // to autorefresh
                        }
                    }
                });
            });
              //+++++++++++++++++++++++++++++++
            /*Confirm category deletion*/

            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Shop/ReorderCategories";

                    $.post(url, ids, function (data) {
                    });
                }
            });

          

            //+++++++++++++++++++++++++++

            /*Reorder categoriesss*/

            $("a.delete").click(function () {
                if (!confirm("Confirm page deletion")) return false;
            });
            //+++++++++++++++++++++++++++++

        });
    </script>
}
