@model IEnumerable<MyPcStore.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Add new category</a>
        <span class="ajax-text">
            <img src="~/Content/img/glass-pipe.gif" />
        </span> @*will be used to show loading image and text if needed*@
    </p>
</div>
@*to check if model is empty*@
@if (!Model.Any())
{
    <h1 class="text-center text-danger">There are no categories.</h1>
}
else
{
    <table class="table sorting" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*readonly - to be editable when double clicked*@
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

@section Scripts {
    @* Drag and drop feature *@
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {

            //+++++++++++++++++++++++++++
            /*Add new category*/
            var newCatA = $("a#newcata");
            var newCatTextInput = $("newcatname");
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");

            //catch enter
            newCatTextInput.keyup(function (event) {
                if (event.keyCode == 13) {
                    newCatA.click();
                }
            });

            newCatA.click(function (event) {
                event.preventDefault(); //a

                var catName = newCatTextInput.val();

                if (catName.length < 3) {   //min lenght for category
                    alert("Minimum 3 characters required!")
                    return false();
                }

                ajaxText.show();
                var url = "/admin/shop/AddNewCategory"; //returns string

                $.post(url, { catName: catName }, function (d) {    //category with value catName
                    var resp = data.trim();                         //d-data
                    if (resp == "titletaken") {
                        ajaxText.html("<span class='alert-danger'>This title is taken!</span>"); //a
                        //fade out that message
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () { //callback function
                                ajaxText.html("<img src=/Content/img/glass-pipe.gif />");
                            }) //fadeout speed
                        }, 2500); //delay
                        return false;
                    } else {    //if its all ok
                        if (!$("table#pages").length) {     //if it doesnt exist table with id pages
                            location.reload();
                        } else {        //display a message
                            ajaxText.html("<span class='alert-success'>New Category added!</span>"); //a
                            //fade out that message
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () { //callback function
                                    ajaxText.html("<img src=/Content/img/glass-pipe.gif />");
                                }) //fadeout speed
                            }, 2500); //delay
                            newCatTextInput.val("") //has to be empty
                            var toAppend = $("table#pages tbody tr:last").clone(); //copy of last tr in table
                            toAppend.attr("id", "id_" + d);      //tr atribute change + append; id is for sottable plugin
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + d)    //change delete link for newly added tr
                            table.append(toAppend);
                            table.sortable("refresh"); // to autorefresh
                        }
                    }
                });
            });

            //+++++++++++++++++++++++++++

            /*Confirm page deletion*/
            $("a.delete").click(function () {
                if (!confirm("Confirm page deletion")) return false;
            });

            /*Pages sorting*/

            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Pages/ReorderPages";

                    $.post(url, ids, function (data) {
                    });
                }
            });


        });
    </script>
}
