/*-chapter6- usuwa css - file for modyfying Amin Area*/
body {
    background-color:khaki;
}


/*-chapter15- css for drag and drop*/
table.sorting tr:not(.home) {
    cursor: pointer;
}
.ui-state-highlight {
    border: 3px dotted green;
}


