/*-chapter6- usuwa css - file for modyfying Amin Area*/
body {
    background-color: khaki;
}


/*-chapter15- css for drag and drop*/
table.sorting tr:not(.home) {
    cursor: pointer;
}

.ui-state-highlight {
    border: 3px dotted green;
}

div.new-cat {
    margin-top: 30px;
    position: relative;
}

span.ajax-text {
    display: none;
}

table.sorting.categories td {
    padding: 20px !important;
}

/*chapter 24*/
.ajaxdivtd {
    position: absolute;
}

/*C:\Users\RafKi\source\repos\MyPcStore\MyPcStore\Views\Shop\ProductDetails.cshtml*/
/*rozdzial44  to co po prawej*/
span.loader {
    display: none;
}

span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
    bottom: 0;
}

/*rozd46 top right corner position adjustments CartVM*/

.ajaxcart {
    background: gray;
    position: relative;
    top: 5px;
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 5px;
}
/*ib-inline block 47*/
.ib {
    display: inline-block !important;
}
/*admin link when logged in*/
ul.adminarea {
    position: relative;
    top: 15px;
}
/*for the checkout*/
.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
    display: none;
    z-index: 1;
}


    /*after payment ic clicked*/
    .ajaxbg span {
        background: red;
        position: absolute;
        font-size: 40px;
        top: 40%;
        left: 30%;
        z-index: 2;
    }

form.paypalform {
    position: absolute;
    left: -2000px;
}
