@model MyPcStore.Models.ViewModels.Cart.CartVM

<div class="ajaxcart" style="color:DarkCyan;">
    Your cart: @Model.Quantity item(s) - &#8364;@Model.Price
    <br />
    @Html.ActionLink("Checkout", "Index")
</div>